[Client]
target: GateKeeper

[GateKeeper]
host: ec2-34-223-211-142.us-west-2.compute.amazonaws.com
port: 8099
target: Proxy

[ClusterInfo]
slaveCount: 3

[ProxyInfo]
mode: balancing
pingCount: 1

[Proxy]
host: ec2-34-209-24-91.us-west-2.compute.amazonaws.com
port: 5011
target: Master

[Master]
host: ec2-52-26-167-85.us-west-2.compute.amazonaws.com
port: 5011

[Slave0]
host: ec2-34-209-17-145.us-west-2.compute.amazonaws.com
port: 5001

[Slave1]
host: ec2-52-35-200-66.us-west-2.compute.amazonaws.com
port: 5002

[Slave2]
host: ec2-34-210-63-64.us-west-2.compute.amazonaws.com
port: 5003
