[Client]
target: GateKeeper

[GateKeeper]
host: 127.0.0.1
port: 8096
target: Master

[ClusterInfo]
slaveCount: 3

[ProxyInfo]
mode: balancing
pingCount: 1

[Master]
host: 127.0.0.1
port: 5011

[Slave0]
host: 127.0.0.1
port: 5001

[Slave1]
host: 127.0.0.1
port: 5002

[Slave2]
host: 127.0.0.1
port: 5003