[Client]
target: Master

[GateKeeper]
host: ec2-35-165-29-56.us-west-2.compute.amazonaws.com
port: 8099
target: Master

[ClusterInfo]
slaveCount: 3

[ProxyInfo]
mode: direct
pingCount: 1

[Proxy]
host: ec2-34-208-211-107.us-west-2.compute.amazonaws.com
port: 5001
target: Master

[Master]
host: ec2-52-36-233-246.us-west-2.compute.amazonaws.com
port: 5011

[Slave0]
host: ec2-54-68-212-32.us-west-2.compute.amazonaws.com
port: 5001

[Slave1]
host: ec2-52-37-175-219.us-west-2.compute.amazonaws.com
port: 5002

[Slave2]
host: ec2-35-162-153-33.us-west-2.compute.amazonaws.com
port: 5003
